@import "swiper/css";
@import "swiper/css/navigation";
@import "tailwindcss";

:root {
  --primary: #007a55;
  --sub: #3e3e3e;
  --secondary: #171412;
  --background: #fbf9ef;
  --foreground: #171412;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0ee790;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* prevent horizontal scroll on mobile */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* hide cursor on touch devices */
@media (max-width: 767px) {
  * {
    cursor: auto !important;
  }
}

/* desktop cursor */
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}
