.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* giới hạn 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.absolute-full {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.heroImgWrapper {
  @media (min-width: 64rem) {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background-image: url("../asset/img/bgHero.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.1;
      z-index: 0;
    }
    .container {
      position: relative;
      z-index: 10;
    }
  }
}
.spotlight {
  &-item {
    left: 0;
    bottom: 0;
    @media (max-width: 991px) {
      position: relative;
      padding-top: 56px;
    }
    &-img {
    }
    &-title {
      position: absolute;
      top: 24px;
      left: 0;
      display: flex;
      align-items: center;
      gap: 0 8px;
      h3 {
        font-size: 1rem;
        text-transform: uppercase;
      }
      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #141414;
      }
      @media (min-width: 991px) {
        top: 0px;
        opacity: 0;
        transition: all 0.5s ease 0s;
      }
    }
    @media (hover: hover) {
      &:hover {
        .spotlight-item-title {
          opacity: 1;
          top: -48px;
          &::before {
            background: var(--primary);
          }
          h3 {
            color: var(--primary);
          }
        }
      }
    }
  }
}
.hero-badge {
  color: rgba(#8e827c, 0.75);
  display: flex;
  align-items: center;
  font-size: 0.8375rem;
  position: relative;
  padding-left: 13px;
  gap: 0px 6px;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    background: green;
    z-index: 1;
  }
  &::after {
    content: "";
    background: var(--sub);
    position: absolute;
    height: 14px;
    width: 2px;
    top: 4px;
    left: 2px;
    border-radius: 3px;
    z-index: 0;
  }
}
.value {
  &-list {
  }
  &-row {
    grid-column-gap: 1.25em;
    grid-row-gap: 1.25em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    position: relative;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 992px) {
      opacity: 0.15;
      transition: opacity 0.6s ease, transform 0.6s ease;
      @for $i from 0 to 6 {
        &:nth-child(#{$i}) {
          .value-block {
            $col-start: (($i - 1) * 2) + 1;
            $col-end: $col-start + 2;

            grid-area: 1 / #{$col-start} / 2 / #{$col-end};
          }
        }
      }
      &.is-visible {
        opacity: 1;
      }
    }
  }
  &-block {
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    padding-left: 3.5em;
    @media (min-width: 767px) {
      min-width: 25em;
    }
  }
  &-num {
    top: 0;
    left: 0;
    &::after {
      content: "";
      position: absolute;
      left: 1.65em;
      top: 10px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 8H13M13 8L8 3M13 8L8 13" stroke="%23000"></path></svg>');
    }
  }
}
